<div class="member">
    <!--设置会员管理输入处-->
    <div class="member_form">
        <div class="input_group">
            <input type="text" placeholder="用户名"/>
            <input type="text" placeholder="电话号码"/>
            <button>搜索</button>
        </div>
    </div>



    <div class="member_button">
        <button><i class="fa fa-pencil-square-o"></i>重置密码</button>
        <button><i class="fa fa-table"></i>账户明细</button>
        <button><i class="fa fa-table"></i>查看地址</button>
    </div>
    
    
    <!--设置table部分-->
    <div class="member_table">
        <table>
            <thead>
                <tr>
                    <th>id <i class="fa fa"></i></th>
                    <th>用户名</th>
                    <th>推荐人ID</th>
                    <th>电话</th>
                    <th>余额</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>10203</td>
                    <td>林子</td>
                    <td>10158</td>
                    <td>1358787777</td>
                    <td>0.00</td>
                </tr>

            </tbody>
        </table>

    </div>

    <!--设置页签部分-->
    <div class="flex_row flex_space_between pagination">
        <div>
            <i class="fa fa-refresh"></i>
        </div>
        <ul class="flex_row flex_space_between pagination_list">
            <li><a href=""><i class="fa fa-step-backward"></i></a></li>
            <li><a href=""><i class="fa fa-backward"></i></a></li>
            <li>|</li>
            <li><input type="text" value="1"/><span>  共 <span>21</span>页</span></li>
            <li>|</li>
            <li><a href=""><i class="fa fa-forward"></i></a></li>
            <li><a href=""><i class="fa fa-step-forward"></i></a></li>
            <li>
                <select name="page" id="">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </li>
        </ul>


        <div>
            <span>151-160</span> <span>共202条</span>
        </div>
    </div>


</div>
