.panel {
  margin-top: 20px;
}
.panel .panel_image {
  border: 1px solid #e3e6ec;
  flex-grow: 0;
}
.panel .panel_image img {
  width: 120px;
  height: 120px;
}
.panel .panel_title {
  height: 120px;
  overflow: hidden;
  padding: 10px 15px;
  flex-grow: 1;
}
.panel .panel_title h4 {
  margin: 0;
}
.panel .panel_text {
  padding-top: 10px;
}
